.FestivalCard {
    overflow: hidden;
    margin: 10px auto;
}

.imgContainerFestivalCard {
    height: 250px;
    overflow: hidden;
}

.infoContainerFestivalCard {
    height: 115px;
    font-size: .8em;
}

.FestivalCardLink {
    text-decoration: none;
}