.FestivalCard {
    overflow: hidden;
    margin: 10px auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.imgContainerFestivalCard {
    height: 250px;
    overflow: hidden;
}

.infoContainerFestivalCard {
    height: 115px;
    font-size: .8em;
}

.FestivalCardLink {
    text-decoration: none;
}