.NewFestivalForm {
    margin-bottom: 80px;
}

.NewFestivalForm h3 {
    margin: 20px auto;
}

.descriptionNewFestival {
    height: 150px;
}

.buttonCreate {
    margin: 20px auto;
}

.genreCheckbox {
    width: 30%;

}

.genres-box {
    border: 1px solid rgb(207, 205, 205);
    width: 100%;
    margin: 10px 5px;
}