.NewFestivalForm {
    margin-bottom: 80px;
}

.descriptionNewFestival {
    height: 150px;
}

.genreCheckbox {
    width: 30%;

}

.genres-box {
    border: 1px solid rgb(207, 205, 205);
    width: 100%;
    margin: 10px 5px;
}

.RowMarginBottom {
    margin-bottom: 15px;
}