img {
    width: 100%;
}

.mt-2 {
    margin-top: 30px;
    margin-bottom: 50PX;
}

.imgFestDetails {
    width: 300px;
}

Container {
    margin-bottom: 200px;
}

.festivalName {
    margin: 100px 0;
}